
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="DBMS_Group20">
  <title>InsureX Dashboard</title>
  <!-- Favicon -->
  <link rel="icon" href="/static/assets/img/brand/favicon.png" type="image/png">
  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <!-- Icons -->
  <link rel="stylesheet" href="/static/assets/vendor/nucleo/css/nucleo.css" type="text/css">
  <link rel="stylesheet" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
  <!-- Page plugins -->
  <!-- Argon CSS -->
  <link rel="stylesheet" href="/static/assets/css/argon.css?v=1.2.0" type="text/css">
</head>

<body>
  <!-- Sidenav -->
  <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
      <!-- Brand -->
      <div class="sidenav-header  align-items-center">
        <a class="navbar-brand" href="javascript:void(0)">
          <img src="/static/assets/img/brand/black.png" class="navbar-brand-img" alt="...">
        </a>
      </div>
      <div class="navbar-inner">
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
          <!-- Nav items -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('client.dashboard')}}">
                <i class="ni ni-tv-2 text-primary"></i>
                <span class="nav-link-text">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('client.dashboardInsurances')}}">
                <i class="ni ni-atom text-green"></i>
                <span class="nav-link-text">My Insurance</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('client.dashboardViewPolicies')}}">
                <i class="ni ni-bag-17 text-yellow"></i>
                <span class="nav-link-text">Policies</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('client.dashboardBuy')}}">
                <i class="ni ni-cart text-primary"></i>
                <span class="nav-link-text">Buy Insurance</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{url_for('client.dashboardPayDues')}}">
                <i class="ni ni-world text-orange"></i>
                <span class="nav-link-text">Pay Dues</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{{url_for('client.dashboardHistory')}}">
                <i class="ni ni-archive-2 text-purple"></i>
                <span class="nav-link-text">Transaction History</span>
              </a>
            </li>
            
          </ul>
          <!-- Divider -->
        </div>
      </div>
    </div>
  </nav>
  <!-- Main content -->
  <div class="main-content" id="panel">
    <!-- Topnav -->
    <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
          <!-- Navbar links -->
          <ul class="navbar-nav align-items-center  ml-md-auto ">
            <li class="nav-item d-xl-none">
              <!-- Sidenav toggler -->
              <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin" data-target="#sidenav-main">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
            <li class="nav-item dropdown">
              <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="media align-items-center">
                  <span class="avatar avatar-sm rounded-circle">
                    <img alt="Image placeholder" src="/static/assets/img/theme/team-4.jpg">
                  </span>
                  <div class="media-body  ml-2  d-none d-lg-block">
                    <span class="mb-0 text-sm  font-weight-bold">{{ session['username'] }}</span>
                  </div>
                </div>
              </a>
              <div class="dropdown-menu  dropdown-menu-right ">
                <div class="dropdown-header noti-title">
                  <h6 class="text-overflow m-0">Welcome!</h6>
                </div>
                <a href="{{url_for('client.dashboard')}}" class="dropdown-item">
                  <i class="ni ni-single-02"></i>
                  <span>My profile</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="{{url_for('auth.logout')}}" class="dropdown-item">
                  <i class="ni ni-user-run"></i>
                  <span>Logout</span>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Header -->
    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Pay Dues</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Insure-X</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Pay</li>
                </ol>
              </nav>
            </div>
          </div>
          </div>
        </div>
      </div>
    
    <!-- Page content -->
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
              <h3 class="mb-0">Pay Dues</h3>
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
              <div class="alert alert-success">
                {{ messages[0] }}
              </div>
            {% endif %}
            {% endwith %}
            <!-- Light table -->
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="sort" data-sort="name">Policy Name</th>
                    <th scope="col" class="sort" data-sort="budget">Coverage</th>
                    <th scope="col" class="sort" data-sort="status">Premium</th>
                    <th scope="col">Dues</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody class="list">
							    {% for insurance in dues %}
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <i class="ni ni-pin-3 text-green" style="margin-right: 5%;"></i>
                        <div class="media-body">
                          <span class="name mb-0 text-sm">{{insurance[0]}}</span>
                        </div>
                      </div>
                    </th>
                    <td>
                      {{insurance[1]}}
                    </td>
                    <td>
                      {{insurance[2]}}
                    </td>
                    <td>
                      {{insurance[3]}}
                    </td>
                    <td>
                    <form action="/paydue" method="POST">
                    <button class="btn btn-primary btn-sm" value="{{insurance[4]}}" name="id">Pay Dues</button>
                    </form>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- Card footer -->
            <div class="card-footer py-4">
              
            </div>
          </div>
        </div>
      </div>
      
      <!-- Footer -->
      <footer class="footer pt-0">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col-lg-6">
            <div class="copyright text-center  text-lg-left  text-muted">
              &copy; 2020 <a href="#" class="font-weight-bold ml-1">Insure-X</a>
            </div>
          </div>
          <div class="col-lg-6">
            <ul class="nav nav-footer justify-content-center justify-content-lg-end">
              <li class="nav-item">
                <a href="https://github.com/ritik18084/DBMS_Group20" class="nav-link" target="_blank">GitHub</a>
              </li>
              <li class="nav-item">
                <a href="https://github.com/ritik18084/DBMS_Group20" class="nav-link" target="_blank">Facebook</a>
              </li>
              <li class="nav-item">
                <a href="https://github.com/ritik18084/DBMS_Group20" class="nav-link" target="_blank">Twitter</a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!-- Argon Scripts -->
  <!-- Core -->
  <script src="/static/assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/static/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/js-cookie/js.cookie.js"></script>
  <script src="/static/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
  <script src="/static/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
  <!-- Optional JS -->
  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
  <!-- Argon JS -->
  <script src="/static/assets/js/argon.js?v=1.2.0"></script>
</body>

</html>